<style>
body, html {
	background: #ECEDEF;
	margin: 0;
	padding: 0;
}

.display {
    height: 150px !important;
    text-align: right !important;
}

.container1 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	border-radius: 14px;
	padding-bottom: 20px;
  width: 390px;

}
.display {
	width: 100%;
	height: 60px;
	padding: 40px 0;
	background: #FF0509;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}
.buttons {
	padding: 20px 20px 0 20px !important;
}
.row1 {
	width: auto;
	float: left;
}
a {
	width: 60px;
	height: 60px;
	float: left;
	padding: 0;
	margin: 5px;
	box-sizing: border-box;
	background: #ecedef;
	border: none;
	font-size: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-weight: 700;
	color: #5E5858;
	cursor: pointer;

}
input[type=text] {
  width: 330px;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: #ffffff;
	text-align: right;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin: 0 25px;

}
.red {
	background: #FF0509 !important;
	color: #ffffff !important;

}

.button {
    padding: 15px 10px 10px 16px !important;
}

.output span {
    color: white;
    font-size: 40px;
    text-align: right;
}

.output  {
    margin-right: 10px;
    text-align: right;
}

.result {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: white;
}


</style>

<!-- Toolbar -->
<div class="container1">
  <form name="form">
  <div class="display">
    <div class="output">
      <span *ngFor="let item of List" data-toggle="tooltip" data-placement="top" title="{{item.name}}" >{{item.symbol}}</span>
    </div>
    <div class="result">
      {{result}}
    </div>

  </div>
    <div class="buttons">
      <div class="row1">
        <a class="button" title="name: Glycine, value:75.07" (click)='calculate({symbol: "G", name: "Glycine", value:75.07})'>G</a>
        <a class="button" title="name: Alanine, value:89.09" (click)='calculate({symbol: "A", name: "Alanine", value:89.09})'>A</a>
        <a class="button" title="name: Serine, value:105.09" (click)='calculate({symbol: "S", name: "Serine", value:105.09})'>S</a>
        <a class="button" title="name: Threonine, value:119.1" (click)='calculate({symbol: "T", name: "Threonine", value:119.1})'>T</a>
        <a class="button" title="name: Histidine, value:155.2" (click)='calculate({symbol: "H", name: "Histidine", value:155.2})'>H</a>
      </div>

      <div class="row1">
        <a class="button" title="name: Cysteine, value:121.2" (click)='calculate({symbol: "C", name: "Cysteine", value:121.2})'>C</a>
        <a class="button" title="name: Valine, value:117.1" (click)='calculate({symbol: "V", name: "Valine", value:117.1})'>V</a>
        <a class="button" title="name: Lecine, value:131.2" (click)='calculate({symbol: "L", name: "Lecine", value:131.2})'>L</a>
        <a class="button" title="name: Isoleucie, value:131.2"(click)='calculate({symbol: "I", name: "Isoleucie", value:131.2})'>I</a>
        <a class="button" title="name: Lysine, value:146.2" (click)='calculate({symbol: "K", name: "Lysine", value:146.2})'>K</a>

      </div>

      <div class="row1">
        <a class="button" title="name: Methionine, value:149.2" (click)='calculate({symbol: "M",name: "Methionine", value:149.2})'>M</a>
        <a class="button" title="name: Proline, value:115.1" (click)='calculate({symbol: "P", name: "Proline", value:115.1})'>P</a>
        <a class="button" title="name: Phenylalnine, value:165.2" (click)='calculate({symbol: "F", name: "Phenylalnine", value:165.2})'>F</a>
        <a class="button" title="name: Tryptophan, value:204.2" (click)='calculate({symbol: "W", name: "Tryptophan", value:204.2})'>W</a>
        <a class="button" title="name: Arginine, value:174.2" (click)='calculate({symbol:"R", name: "Arginine", value:174.2})'>R</a>

      </div>

      <div class="row1">
        <a class="button" title="name: Aspartic Acid, value:133.1" (click)='calculate({symbol: "D",name: "Aspartic Acid", value:133.1})'>D</a>
        <a class="button" title="name: Glutamic Acid, value:147.1" (click)='calculate({symbol: "E", name: "Glutamic Acid", value:147.1})'>E</a>
        <a class="button" title= "name: Asparagine, value:132.1" (click)='calculate({symbol: "N", name: "Asparagine", value:132.1})'>N</a>
        <a class="button" title="name: Glutamine, value:146.1" (click)='calculate({symbol: "Q", name: "Glutamine", value:146.1})'>Q</a>
        <a class="button red" (click)='remove()'>X</a>
      </div>
    </div>

  </form>
</div>
